<!DOCTYPE html> 
<html ng-app='appProto'>
    <head>
        <meta charset="utf-8">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" type="text/css" rel="stylesheet">
        <link href="main.css" type="text/css" rel="stylesheet">
        <script src="node_modules/angular/angular.js"></script>
        <script src="node_modules/angular-route/angular-route.js"></script>
        <script src="node_modules/angular-resource/angular-resource.js"></script>
        <script src="app.js"></script>
        <script src="data.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="page-header">
                <h1>
                    FASTER
                </h1>
            </div>
            <div ng-controller="indexCtrl">
                <label>Weekly Mileage</label>
                <input ng-model='plan.miles' type="number"><br><br>
                <hr>
                <div class="row">
                    <div class="col-md-3"></div>
                        <div id="boxes" class="col-md-6">
                            <label class="checkbox-inline">
                                <input type="checkbox" ng-model="plan.monday" value="1" class="checkbox">
                                Mon
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" ng-model="plan.tuesday" value="1" class="checkbox">
                                Tues
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" ng-model="plan.wednesday" value="1" class="checkbox">
                                Wed
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" ng-model="plan.thursday" value="1" class="checkbox">
                                Thurs
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" ng-model="plan.friday" value="1" class="checkbox">
                                Fri
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" ng-model="plan.saturday" value="1" class="checkbox">
                                Sat
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" ng-model="plan.sunday" value="1" class="checkbox">
                                Sun
                            </label>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <hr>
                    <p></p>
                    <p>Average daily mileage: <span ng-if="plan.monday + plan.tuesday + plan.wednesday + plan.thursday + plan.friday + plan.saturday + plan.sunday > 0">{{plan.miles / (plan.monday + plan.tuesday + plan.wednesday + plan.thursday + plan.friday + plan.saturday + plan.sunday) | number:2}}</span></p>
            
                    <a ng-click="calcTotal()" class="btn btn-default btn-sm">Get Plan</a><br><br>
   
           
            <table class="table">
                <theader>
                    <tr id="days">
                        <th>Monday</th>
                        <th>Tuesday</th>
                        <th>Wednesday</th>
                        <th>Thursday</th>
                        <th>Friday</th>
                        <th>Saturday</th>
                        <th>Sunday</th>
                    </tr>
                </theader>
                <tr>
                    <td ><a ng-href='{{plan.monUrl}}' target="_blank">{{plan.monData | number:2}}</a></td>
                    <td ><a ng-href='{{plan.tuesUrl}}' target="_blank">{{plan.tuesData | number:2}}</a></td>
                    <td ><a ng-href='{{plan.wedsUrl}}' target="_blank">{{plan.wedData | number:2}}</a></td>
                    <td ><a ng-href='{{plan.thursUrl}}' target="_blank">{{plan.thursData | number:2}}</a></td>
                    <td ><a ng-href='{{plan.friUrl}}' target="_blank">{{plan.friData | number:2}}</a></td>
                    <td ><a ng-href='{{plan.satUrl}}' target="_blank">{{plan.satData | number:2}}</a></td>
                    <td ><a ng-href='{{plan.sunUrl}}' target="_blank">{{plan.sunData | number:2}}</a></td>
                </tr>
                <tr>                 
                    <td><img ng-src="{{plan.monday && (plan.monMap || 'assets/runDay.png') || 'assets/chillDay.jpg'}}"></td>
                    <td><img ng-src="{{plan.tuesday && (plan.tuesMap || 'assets/runDay.png') || 'assets/chillDay.jpg'}}"></td>
                    <td><img ng-src="{{plan.wednesday && (plan.wedsMap || 'assets/runDay.png') || 'assets/chillDay.jpg'}}"></td>
                    <td><img ng-src="{{plan.thursday && (plan.thursMap || 'assets/runDay.png') || 'assets/chillDay.jpg'}}"></td>
                    <td><img ng-src="{{plan.friday && (plan.friMap || 'assets/runDay.png') || 'assets/chillDay.jpg'}}"></td>
                    <td><img ng-src="{{plan.saturday && (plan.satMap || 'assets/runDay.png') || 'assets/chillDay.jpg'}}"></td>
                    <td><img ng-src="{{plan.sunday && (plan.sunMap || 'assets/runDay.png') || 'assets/chillDay.jpg'}}"></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
            <hr>
            </div>

        </div>
    </body>
</html>