html, body{
    height: 100%;
}
body{
    background-image: url('assets/trail_running.jpg');
    background-size: cover;
}

img{
    width: 110px;
    height: 110px;
}

td, th{
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px #002914; 
}

.boxes{
    margin: auto;
}

label{
    color:white;
    text-shadow: 1px 1px 1px #002914; 
}

p{
    color: white;
    text-shadow: 1px 1px 1px #002914; 
}

.btn-default{
    color: dimgray;
    font-weight: bolder;
}

#days{
    background-color: rgba(5, 4, 4, 0.49);
}

#boxes{
    text-align: center;
    background-color: rgba(5, 4, 4, 0.2);
}
h1{
    font-weight: bolder;
    text-shadow: 1px 1px 1px #002914; 
}
.container{
    background-color: rgba(5, 4, 4, 0.5);
    height: 100%;
    
}
